<div class="dashboard-user-container">
  <div class="dashboard-user-info">
    <p>
      <span class="dashboard-subtitle">Estimated Balance</span>
    </p>
    <p class="dashboard-title">
      ≈ <%= number_to_currency(current_user.balance) %>
    </p>
  </div>
</div>
