<h3>Pending Users</h3>
<% if @users.any? %>
    <div>
        <% @users.each do |user| %>
            <div>
                <div>
                <span><%= user.full_name %></span>
                <p><%= user.email %></p>
                </div>

                <% User::STATUSES.drop(1).each do |status| %>
                    <%= button_to status, update_status_admin_path(user, status: status), method: :patch %>
                <% end %>
            </div>
        <% end %>
    </div>
<% else %>
    <div>
        <p>You're all caught up. No pending users.</p>
    </div>
<% end %>