<h3>Pending Users</h3>
<% if @users.any? %>
    <div>
        <% @users.each do |user| %>
            <div>
                <div>
                <span><%= user.first_name %> <%= user.last_name %></span>
                <p><%= user.email %></p>
                </div>
                <div class="icon-text">
                    <%= link_to change_status_admin_path(user), data: { 'turbo-method': :patch } do %> 
                        <span class="icon">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </span>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <div>
        <p>You're all caught up. No pending users.</p>
    </div>
<% end %>