<% if current_user.balance > params[:stock][:latest].to_f %>
  <h1>Order Purchase for <%= params[:stock][:symbol] %></h1>
  <h1>Price per amount <%= params[:stock][:latest] %> </h1>
  <%= render 'form', stock: @stock %>

<% else %>
    <div class="notification is-warning is-light">
      <h1>Sorry, you don't have enough balance to purchase this stock.</h1>
    </div>
<% end %>
