<section class="dashboard-head-cover mb-2">
  <div class="dashboard-user-container">
    <div class="avatar avatar-1"></div>
    <div class="dashboard-user-info">
      <p class="dashboard-subtitle"> <%= current_user.email %> </p>
      <p>
        <span class="dashboard-title"> <%= current_user.full_name %></span>
        <span class="dashboard-verified">
          <%= display_access_level(current_user.status) %>
        </span>
      </p>
    </div>
  </div>
  <div class="dashboard-user-container">
    <div class="dashboard-user-info">
      <p>
        <span class="dashboard-subtitle">Estimated Balance</span>
      </p>
      <p class="dashboard-title">
        <%= "≈ #{number_to_currency(current_user.balance)}" %>
      </p>
    </div>
  </div>
</section>
