<div class="dashbaord-user-container">
  <div class="avatar avatar-1"></div>
  <div class="dashboard-user-info">
    <p>
      <span class="dashboard-name">current_user.username</span>
      <span class="dashboard-verified">
        <%= display_access_level(current_user.is_verified) %>
      </span>
    </p>
    <p class="dashboard-email"> <%= current_user.email %> </p>
  </div>
</div>
