<% if current_user %>
    <p>Hello, <%= current_user.first_name %>!</p>
    <p>This is a placeholder to signify that you have logged in.</p>
    <p>You are a <%= current_user.role %></p>

    <% if current_user.admin? %>
        There are now <%= User.all.where(:role => 0, :status => "pending") %> users who have signed up and are waiting your approval.
    <% end %>

<% else %>
<figure class="image">
  <img src="https://i.ibb.co/r08vz1Y/Fa-CIhz-OVEAA5-QUh.png">
</figure>
<% end %>