<%= render "shared/user_profile_cover" %>

<div class="notification is-light">
    <h2 class="is-size-4 mb-2">Add Deposit:</h2>
    <div class="field has-addons">
        <%= text_field_tag "payment_amount", 1000, class: "input" %>

        <%# TODO: change amount to get data from textfield %>
        <%= link_to 'Deposit', profile_deposit_path(:user => { amount: 1000}), class: "button is-primary ml-2" %>
    </div>
</div>


