<nav class="navbar" role="navigation" aria-label="main navigation">
<!-- left side -->
  <div class="navbar-brand">
    <!-- navbar logo -->
    <%= link_to href: 'https://bulma.io', class: 'navbar-item' do %>
        <%= image_tag 'https://bulma.io/images/bulma-logo.png', width: 112, height: 28, alt: 'example tag' %>
    <% end %>
    <!-- navbar burger -->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>